<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--This connection string now works for the local machine 192.168.0.202 which is a linux laptop HP AMD Running in a docker container-->
    <add name="DBCS" connectionString="Data Source=192.168.0.108;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378" />
    <add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString"
      
      connectionString="Data Source=192.168.0.108;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378"
      providerName="System.Data.SqlClient" />
    <add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString1"
      connectionString="Data Source=192.168.0.108;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--connectionString="Data Source=192.168.0.104\AWAISSQLEXPRESS;Initial Catalog=ImperialBeddingStockDatabase;Persist Security Info=True;User ID=SA;Password=Hamzah8378"

  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=86.19.74.48\AWAISSQLEXPRESS;Initial Catalog=ImperialBeddingStockDatabase;Persist Security Info=True;User ID=SA;Password=Hamzah8378" />
    <add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString"
      
      connectionString="Data Source=192.168.0.202:1433;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378"
      providerName="System.Data.SqlClient" />
    <add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString1"
      connectionString="Data Source=86.19.74.48\AWAISSQLEXPRESS;Initial Catalog=ImperialBeddingStockDatabase;Persist Security Info=True;User ID=SA;Password=Hamzah8378"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  -->


<!--
    <connectionStrings>
    This connection string now works for the local machine 192.168.0.202 which is a linux laptop HP 450 G4 running Linux Ubuntu 20.04.6 LTS X86_64-->
<!--<add name="DBCS" connectionString="Data Source=192.168.0.202;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378" />-->
<!--<add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString"-->
      
  <!--connectionString="Data Source=192.168.0.202;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378"-->
  <!--providerName="System.Data.SqlClient" />-->
<!--<add name="StockControlManagementEB.Properties.Settings.ImperialBeddingStockDatabaseConnectionString1"-->
  <!--connectionString="Data Source=192.168.0.202;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=Hamzah_8378"-->
  <!--providerName="System.Data.SqlClient" />-->
<!--</connectionStrings>-->
<!--</configuration>-->
